/* General page styles */
body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, sans-serif;
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Styles specific to the setup of the card container */
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red; 
    border: 0.2em solid black;
    border-radius: 1.5em;
    overflow: hidden; 
  }
  
  /* Styles specific to the header */
  .card header {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0)); /* Darker to lighter */
    border-radius: 1.5em 1.5em 0 0;
    height: 5em; 
    padding: 1em; 
  }
  
  /* Styles specific to the footer */
  .card footer {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1)); /* Lighter to darker */
    border-radius: 0 0 1.5em 1.5em;
    height: 5em; 
    padding: 1em; 
  }
  
  /* Styles specific to the main business card contents */
  .card article img {
    max-height: 100%;
    float: right; 
  }
  
  /* New rulesets */
  h2, p {
    margin: 0;
  }
  
  /* Article specific height and background */
  .card article {
    height: 12em; 
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  /* h2 font size and line height */
  .card header h2 {
    font-size: 2em; 
    line-height: 3em; 
  }
  
  /* Footer paragraph font size and line height */
  .card footer p {
    font-size: 1.5em; 
    line-height: 1em; 
  }
  
  /* Paragraph inside article alignment and color */
  .card article p {
    padding: 1em; 
    color: #eee; 
  }







  body {
    margin: 0;
  }
  
  html {
    font-family: 'Futura', 'Courier New', 'monospace';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Styles specific to the setup of the card container */
  .card2 {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(178, 248, 165); 
    border: 0.2em solid rgb(75, 189, 250);
    border-radius: 1.5em;
    overflow: hidden; 
  }
  
  /* Styles specific to the header */
  .card2 header {
    background-image: linear-gradient(to bottom, rgba(255, 151, 227, 0.1), rgba(192, 251, 158, 0)); /* Darker to lighter */
    border-radius: 1.5em 1.5em 0 0;
    height: 5em; 
    padding: 1em; 
    font-family: 'Courier New', Courier, monospace;
  }
  
  /* Styles specific to the footer */
  .card2 footer {
    background-image: linear-gradient(to bottom, rgba(106, 194, 253, 0), rgba(232, 159, 2, 0.1)); /* Lighter to darker */
    border-radius: 0 0 1.5em 1.5em;
    height: 5em; 
    padding: 1em; 
  }
  
  /* Styles specific to the main business card contents */
  .card2 article img {
    max-height: 100%;
    float: right; 
  }
  
  /* New rulesets */
  h2, p {
    margin: 0;
  }
  
  /* Article specific height and background */
  .card2 article {
    height: 12em; 
    background-color: rgba(213, 20, 187, 0.5); 
  }
  
  /* h2 font size and line height */
  .card2 header h2 {
    font-size: 2em; 
    line-height: 3em; 
  }
  
  /* Footer paragraph font size and line height */
  .card2 footer p {
    font-size: 1.5em; 
    line-height: 1em; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  /* Paragraph inside article alignment and color */
  .card2 article p {
    padding: 1em; 
    color: #eee; 
  }


  