

header {
    background-color: #4bf5c8;
    color: #FFF;
    padding: 10px;
    text-align: center;
    position: relative;
}

header img {
    width: 3in;
    height: auto;
    max-width: 100%; 
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    font-size: 28px;
    font-style: italic; 
    font-weight: bold; 
}

.sub-header {
    background-color: #fddfc4; 
    color: #FFF;
    padding: 10px;
    text-align: center;
}

.sub-header h2,
.sub-header h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    font-size: 15px; 
}
#vivaldi-image {
    width: 200px;
    height: 200px;
}
#beethoven-image {
    width: 200px; 
    height: 200px; 
}
#tchaikovsky-image {
    width: 200px; 
    height: 200px; 
}
#ravels-image {
    width: 200px; 
    height: 200px; 
}
#symphony8-image {
    width: 200px; 
    height: 200px; 
}
#emperor-image {
    width: 200px;
    height: 200px; 
}
#bartok-image {
    width: 200px; 
    height: 200px; 
}
#brahms-image {
    width: 200px; 
    height: 200px; 
}
#violin-image {
    width: 200px; 
    height: 200px; 
}
section {
    border: 2px solid #4169E1; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
    position: relative; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    background-color: #fddfc4;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    color: #4169E1;
}

header, footer {
    background-color: #f59b4b;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
}

section {
    border: 2px solid #4169E1; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
    position: relative; 
    display: flex;
    flex-direction: column; 
}

@media (max-width: 400px) {
    nav {
        display: none; 
    }

    section {
        margin: 10px auto; 
        padding: 5px;
        text-align: center; 
    }

    section img {
        display: block;
        margin: 0 auto; 
    }

    header, footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        margin: 0 30px;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }

    section > p, section > h3 {
        width: 45%;
    }
}

.details-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.featured, .repertoire {
    flex-basis: 48%; 
}


